.lock-scroll {
    overflow: hidden;
    /*khóa màn hình */
}

.big {
    margin: 0;
}

.box {
    display: flex;
    align-items: center;
    height: 72px;
    background-color: black;
    position: fixed;
    /* Khóa navbar ở đầu */
    top: 0;
    /* Cố định ở vị trí trên cùng của trang */
    left: 0;
    width: 100%;
    /* Để thanh navbar chiếm hết chiều rộng màn hình */
    z-index: 1000;
    /* Đảm bảo navbar nổi lên trên các phần tử khác */
}

.box.sticky {
    height: 94px;
    /* Chiều dài khi cuộn xuống */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo img {
    width: 80px;
}

.cangiua_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nd_nav {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.nd_nav p {
    margin: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.nd_nav img {
    margin: 0 20px;
}

.nd_nav a {
    text-decoration: none;
}

.icons {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icons img {
    margin-left: 10px;
}

.btnlogin,
.btn_shopping_cart {
    background-color: black;
    border: none;
    cursor: pointer;
}


/* carousel */
.slide-show{
    width: 100%;
    height: 100%;
    
}
.list-images{
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: relative;
}
.list-images img{
    width: 100%;
    height: 100%;
}
.btn-carousel{
    width: 100%;
    padding: 0 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-carousel img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    transition:  scale(1.1) 0.5s ease;

}
.btn-carousel img:hover{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.5);
    border-radius: 50%;
  }
/*hết*/


/* form đăng ký */


/* Lớp phủ đen toàn màn hình */

#lop_phu_login {
    display: none;
    /* Bắt đầu ẩn form */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


/* Form đăng nhập */

.form_login {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.img_login {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

h2,
h3 {
    margin: 2;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--dark-green);
    /* Màu cam tương tự The Coffee House */
}

.khung_nhap_phone {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.quoc_ky {
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
}

.nhap_phone {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
}

.nut_login {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.nut_login:hover {
    background-color: var(--dark-green);
}


/* hết */


/* NHỮNG ĐIỀU KHÁC BIỆT */

.text_of_topic {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.text_of_topic p {
    text-align: center;
    padding: 30px;
}

.imgofdiff {
    height: 500px;
    width: 400px;
}

.nd_diff .row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin: 20px;
}

.row .imgmain {
    padding: 30px;
}

.row .nd1 .topic1 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.row .nd2 .topic2 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.ndchinh1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ndchinh2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* SẢN PHẨM NỔI BẬT */

.row_spnb {
    margin: 70px 0px;
    display: flex;
    justify-content: space-evenly;
}

.spnb {
    width: 300px;
    height: 460px;
    border-radius: 10px;
    background-color: var(--white-color);
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.spnb:hover {
    background-color: var(--dark-green);
    transform: scale(1.1);
}

.spnb .spnbimg img {
    height: 260px;
    width: 260px;
    transition: transform 0.5s ease-in-out;
}

.spnb .spnbimg {
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin-top: 20px;
    margin-left: 20px;
}

.spnb .spnbimg img:hover {
    transform: scale(1.2);
}

.spnb_info {
    margin-left: 20px;
    margin-top: 20px;
    color: var(--white-color);
}

.spnb_info .namespnb {
    height: 8px;
    font-weight: bold;
}

.spnb_info .price {
    margin-top: 30px;
    font-weight: bold;
}

.spnb .infospnb {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    padding: 10px 25px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    /* Thêm transition cho transform */
}

.spnb .infospnb:hover {
    background-color: var(--button-color);
}


/*phần paste*/

.spnb_new {
    margin-top: 30px;
    background-image: url(../image/trang_chủ/sản\ phẩm_Trà\ xanh\ TB.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.spnbnew_main {
    height: 750px;
}

.logospnbnew {
    margin-left: 750px;
}

.text_of_spnbnew {
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-left: 650px;
}

.trynow a {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 587px;
    height: 50px;
    background-color: #85b349;
    border-radius: 30px;
    margin-left: 700px;
    margin-top: 40px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.trynow a:hover{
    background-color: #435a26;
    color:white;
}

.ttnb_layout {
    padding: 40px;
    margin: auto;
    width: 1280px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    height: 800px;
}

.ttnb_img {
    width: 1200px;
    height: 462px;
    overflow: hidden;
}

.ttnb_img img {
    width: 100%;
    transition: transform 0.5s ease;
    /* Hiệu ứng chuyển tiếp */
}

.ttnb_img img:hover {
    transform: scale(1.1);
    /* Tăng kích thước lên 20% khi hover */
}

.ttnb_nut {
    display: flex;
    margin-top: 40px;
}

.ttnb_pl {
    padding: 7px 45px;
    background-color: #80ACBF;
}

.ttnb_tt {
    padding: 6px 40px;
    background-color: #80ACBF;
    margin: 0 20px;
}

.ttnb_nut a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.ttnb_layout .ttnb_topic p {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.ttnb_layout .ttnb_content p {
    color: #696969;
    font-size: 15px;
}

.ttnb_layout .ttnb_more a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 20px;
    background-color: #BC997C;
    color: white;
}


/* SẢN PHẨM TIN TỨC NỔI BẬT */

.row_ttspnb {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.row_ttspnb .ttspnb {
    width: 410px;
    height: 600px;
    padding: 40px;
    box-shadow: 4px 4px 10px gray;
}

.row_ttspnb .ttspnb a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.row_ttspnb .ttspnb a img:hover {
    transform: scale(1.2);
}

.row_ttspnb .ttspnb img {
    width: 100%;
    height: 100%;
}

.row_ttspnb .ttspnb .ttspnbimg {
    width: 330px;
    height: 310px;
    overflow: hidden;
    /* border-radius: 5px; */
}

.ttspnb a {
    text-decoration: none;
}

.nut_tt {
    margin-top: 20px;
}

.nut_tt a {
    padding: 6px 20px;
    background-color: #80ACBF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}

.namettspnb {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 20px;
}

.content_of_spttnb {
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3F3F3F;
    width: 350px;
    line-height: 18px;
}

.infottspnb {
    padding: 7px 25px;
    background-color: #BC997C;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}


/* CHI NHÁNH CỬA HÀNG */

.layout_address {
    display: grid;
    width: 1250px;
    height: 480px;
    grid-template-columns: 40% 60%;
    padding: 20px;
    margin: auto;
    align-items: center;
    box-shadow: 4px 4px 10px gray;
}

.layout_address .img_address {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.layout_address .img_address img {
    width: 400px;
    height: 430px;
    display: block;
}

.layout_address .img_address::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 30%;
    /* Giảm chiều rộng của bóng trắng */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    transition: 1s;
}

.layout_address .img_address:hover::before {
    left: 150%;
    transition: 1s;
}

.topic_address {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.address_content .content {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #747474;
}

.another_address {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.another_address .imganother img {
    width: 400px;
    height: 500px;
}


/* FOOTER */

.footer_layout {
    background-color: black;
    height: 500px;
    padding: 50px;
}

.footer_row {
    display: grid;
    grid-template-columns: 10% 20% 30% 20%;
    justify-content: space-evenly;
}

.footer_row p {
    color: white;
}

.footer_content1 {
    margin: 0 auto;
    line-height: 20px;
}

.footer_content1 .topic_content1 p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer_content1 .content1 a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer_content2 {
    line-height: 20px;
}

.footer_content2 .topic_content2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer_content2 .content2 {
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer_content3 {
    margin: 0 auto;
    line-height: 20px;
}

.footer_content3 .topic_content3 p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer_content3 .content3 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content3 .thanhsearch {
    position: relative;
    /* Để nút Gửi có thể căn chỉnh tương đối với container */
    width: 250px;
    /* Cùng kích thước với input */
    border: 1px solid white;
    border-radius: 26px;
}

.footer_content3 .content3 .thanhsearch .searchemail {
    height: 50px;
    width: 100%;
    /* Đảm bảo kích thước của email input chiếm toàn bộ container */
    border-radius: 26px;
    border: 2px solid black;
    padding-right: 90px;
    /* Để tạo khoảng trống cho nút gửi */
    border: 1px solid white;
}

.footer_content3 .content3 .thanhsearch .nutgui {
    position: absolute;
    right: 0;
    /* Căn về phía phải của container */
    top: 0;
    /* Căn trên cùng */
    height: 50px;
    width: 80px;
    border-radius: 0px 26px 26px 0px;
    background-color: black;
    color: var(--white-color);
}

.footer_content3 .content3 input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ trong suốt 50% */
    font-style: italic;
    /* Đặt kiểu chữ in nghiêng (tuỳ chọn) */
}

.footer_content3 .content3 input:hover {
    background-color: white;
}

.footer_layout hr {
    margin-top: 30px;
}

.nsxPL p {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* hết */